<head>
	<title>SHENZHEN GO</title>
	<link type="text/css" rel="stylesheet" href="/.static/css/fonts.css">
	<link type="text/css" rel="stylesheet" href="/.static/css/main.css">
</head>
<body>
	<div class="browse-container">
		<h1>SHENZHEN GO</h1>
		<h2>{{$.Base}}</h2>
		<a href="/{{.Up}}">Up</a> |
		<div class="dropdown"> 
			<span class="link">New</span>
			<form method="GET" class="dropdown-content">
				<input type="text" name="new" required style="width:200px">
				<span class="link" onclick="this.parentElement.submit();">Create</span>
			</form>
		</div>
		<table class="browse">
			{{range $.Entries -}}
			<tr>
				<td>{{if .IsDir}}&lt;dir&gt;{{end}}</td>
				<td><a href="{{.Path}}">{{.Name}}</a></td>
			</tr>
			{{- end}}
		</table>
	</div>
</body>